azure-identity
azure-mgmt-network
azure-mgmt-resource
azure-mgmt-authorization
azure-mgmt-policyinsights
azure-mgmt-managementgroups
azure-mgmt-security
azure-mgmt-advisor
azure-mgmt-reservations
azure-mgmt-resource-policy
azure-mgmt-monitor
azure-mgmt-avs
azure-mgmt-trafficmanager
azure-mgmt-cdn
azure-mgmt-compute
azure-mgmt-storage
azure-mgmt-recoveryservices
azure-mgmt-sql
networkx
pyvis
Flask
